@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


 /* TITILE ----------------------------------*/
.title{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

 /* DATE ----------------------------------*/
.date{
    background-color: #36b13c;
    font-family: 'Open Sans', sans-serif;
}


/*----FOOTER-----------------------------------------------------------------   #aebfae*/
.footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgb(27, 28, 27) 0px 5px 15px;
    background-color: #36b13c;
    color: #121312;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.footer p{
    color: #121312;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.footer a {
    color: #121312;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.footer a:hover{
    text-decoration: underline;
}